terraform.tfvars
.env
C:\Users\leoxb\OneDrive\Desktop\tf_spotify_proj\terraform-provider-spotify\LICENSE
C:\Users\leoxb\OneDrive\Desktop\tf_spotify_proj\.terraform\providers\registry.terraform.io\conradludgate\spotify\0.2.7\windows_amd64\LICENSE